/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2014, 2:28:39 PM
    Author     : Shepherd
*/

.btn{
    border-radius: 2px;
    box-shadow: none;
    font-weight: 500;
    text-shadow: none;
}

.btn{
    &.btn-primary{
        background: $color-primary;
        border-color: darken( $color-primary, 15%);
        color: #fff;

        &:hover, &:focus{
            background: lighten( $color-primary, 5%);
            border-color: darken( $color-primary, 10%);
        }
        &:active{
            background: darken( $color-primary, 10%);
            border-color: darken( $color-primary, 20%);
        }
    }
}