/* 
    Created on : Dec 9, 2014, 2:35:52 PM
    Author     : Shepherd
*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,100,500,400italic,700,900,300);*/
@font-face {
    font-family: Roboto;
    src: url(../font/roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url(../font/roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(../font/roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(../font/roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../font/roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url(../font/roboto/Roboto-Black.ttf);
    font-weight: 900;
}


$color-primary: #E5772C;
$color-success: #2ecc71;
$color-warning: #f39c12;
$color-danger: #c0392b;
$color-text: #212121;
$color-text-secondary: #727272;
$color-divider: #DADADA;

.color-primary{ color: $color-primary }

.color-text{ color: $color-text }
.color-text-secondary{  color: $color-text-secondary }

$header-height : 70px;

/*IMPORT*/
@import "_nav.scss";
@import "_form.scss";
@import "_component.scss"; 
@import "_button.scss"; 
@import "_chart.scss"; 


.main-transition{ transition: all 0.3s ease-out; }

.flex{
    display: flex;

    .flex-start{
        align-self: flex-start;
        flex: 1 1;
    }
    .flex-end{
        align-self: flex-end;
        flex: 1 1;
    }
}
.bg-success{background: $color-success}
.bg-warning{background: $color-warning}
.bg-danger{background: $color-danger}
.padding{ padding: 20px; }
.text-right{ text-align: right !important }
.text-left{ text-align: left  !important}

html, body{
    position: relative;
    min-height: 100vh;
    @extend .color-text;
    background: url('../images/tumblr_mucvs3nuDt1sksh39o1_500.jpg') no-repeat;
    background-size: 100% 100%;

}
body{
    font-size: 15px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    color: #758698;
    padding: 0 !important;
    box-sizing: border-box;
}
a{
    @extend .color-primary;
    &:hover, &:visited{
        color: lighten($color-primary, 5%);
    }
    &:active{
        color: darken($color-primary, 5%);
    }
    &:visited{
        color: darken($color-primary, 20%);
    }
}

.table{
    background: #fff;
}

.wrapper{
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.date-container{
    display: none;
    width: 50px;
    background: darken($color-primary, 5%);
    @extend .main-transition;

    &.active{
        display: block;
    }
}
.content{
    flex: 1 1;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .toolbar{
        padding: 10px 20px;
        background: #F6F6F6;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid $color-divider;

        .btn-link{
            font-weight: normal;
            @extend .color-text-secondary;

            &:hover{
                text-decoration: none;
                border: 1px solid $color-divider;
            }
        }
    }
    & > header{
        height: $header-height;
        border-bottom: 1px solid #ccc;
    }
}

.content > header{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    z-index: 10000;
    position: relative;
    display: flex;

    & > *{
        margin: 0 30px;
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .search{
        width: 70px;
        color: lighten(#263238, 60%);
        font-size: 200%;
        line-height: 70px;
        text-align: center;
        border-right: 1px solid lighten(#263238, 5%);
    }

    .title{
        font-size: 120%;
        @extend .color-text;
        font-weight: 300;
        flex: 1 1;
    }



    .username{
        color: $color-primary;
        text-transform: capitalize;
        font-weight: 500;
    }

}


.post-container{
    flex: 1 1;
    overflow-y: auto;
    background: #ECF0F1;

    &.padding{
        padding: 20px;
    }
}

.panel{
    .summary{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 10;
    }
}

/*CONTROL*/
.panel-up{
    display: none;
}

header .dropdown-menu{
    left: auto;
    right: 0;
}




@media screen and (min-width: 48em){
    body{
        padding: 0 !important;
    }
}
@media screen and (min-width: 62em){
   body{
        padding: 0 !important;
    }
}

@media screen and (min-width: 75em) {
    body{
        padding: 40px !important;
    }
}

th a{
    color: #212121;

    &:hover{
        color: #424242;
    }
}

.grid-view{
    padding-top: 0;
}

.realization-form tr label{
    white-space: nowrap;
}