/* 
    Created on : Dec 9, 2014, 2:35:52 PM
    Author     : Shepherd
*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,100,500,400italic,700,900,300);*/
@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Thin.ttf);
  font-weight: 100; }
@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Light.ttf);
  font-weight: 300; }
@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Medium.ttf);
  font-weight: 500; }
@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Black.ttf);
  font-weight: 900; }
.color-primary, a {
  color: #2a82c0; }

.color-text, .panel .panel-header h3, .panel.panel-danger .panel-header h3, html, body, .content > header .title {
  color: #212121; }

.color-text-secondary, .content .toolbar .btn-link {
  color: #9e9e9e; }

/*IMPORT*/
aside {
  background: #2E3037;
  width: 90px; }
  aside header {
    height: 70px;
    background: #2a82c0;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding: 0 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    aside header span {
      display: none; }
  aside .logo {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 13px; }
    aside .logo i {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30px;
          -ms-flex: 0 0 30px;
              flex: 0 0 30px;
      /*border: 1px solid #030288;*/
      width: 30px;
      background-image: url("../images/kementrian_pekerjaan_umum.png");
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: center center;
      display: block;
      min-height: 30px; }
    aside .logo img {
      width: 60px; }
    aside .logo span {
      overflow: hidden;
      margin-left: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    aside .logo:hover {
      color: #fff; }
  aside .sf-menu > li > a {
    text-align: center; }
  aside .sf-menu > li > a > span {
    display: none; }

aside.maximized {
  width: 18%; }
  aside.maximized header .logo span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  aside.maximized header .logo img {
    width: 90px; }
  aside.maximized header .logo:hover {
    text-decoration: none; }
  aside.maximized .sf-menu > li > a {
    text-align: left; }
  aside.maximized .sf-menu > li > a > span {
    display: inline-block; }

nav li i {
  /*@extend .main-transition;*/ }

.sf-vertical {
  width: 100%; }

.sf-menu li {
  background: #2E3037; }
  .sf-menu li a {
    color: #5D6372;
    border-width: 1px 0 1px 0;
    border-color: #35373f;
    letter-spacing: 1px;
    padding: 20px 30px;
    overflow: hidden; }
    .sf-menu li a span {
      margin-left: 10px; }
.sf-menu li:hover, .sf-menu li.active {
  background: #393941; }
  .sf-menu li:hover > a, .sf-menu li.active > a {
    color: #fff; }
    .sf-menu li:hover > a i, .sf-menu li.active > a i {
      color: #2a82c0; }
.sf-menu ul {
  overflow: auto; }
  .sf-menu ul li {
    background: #2E3037; }

/* 
    Created on : Feb 18, 2015, 4:23:20 PM
    Author     : Pras Abdilah
*/
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
  border-radius: 0
  /*box-shadow: none;*/ }

select {
  border-radius: 0; }

.input-prepend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .input-prepend .add-on {
    border-radius: 0 !important; }

.table td select, .table td .form-control {
  width: 100%; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2014, 11:56:45 AM
    Author     : piyiku
*/
.panel {
  border: 1px solid #DADADA;
  background: #fff;
  position: relative;
  margin-bottom: 15px; }
  .panel .panel-header {
    background: #F6F6F6;
    padding: 10px 20px;
    border-bottom: 1px solid #DADADA;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .panel .panel-header .btn {
      margin-right: 10px; }
    .panel .panel-header h3 {
      margin: 0;
      font-size: 100%;
      line-height: 20px;
      padding: 0; }
    .panel .panel-header .buttons {
      font-size: 12px; }
      .panel .panel-header .buttons a {
        display: inline-block;
        cursor: pointer;
        color: #bababa; }
      .panel .panel-header .buttons a:hover {
        text-decoration: none; }
  .panel .panel-body {
    padding: 15px 20px 20px; }

.panel.panel-danger {
  border: 1px solid #e9a39b; }
  .panel.panel-danger .panel-header {
    background: #f7ddda;
    color: #c0392b;
    padding: 10px 20px;
    border-bottom: 1px solid #e9a39b;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .panel.panel-danger .panel-header .btn {
      margin-right: 10px; }
    .panel.panel-danger .panel-header h3 {
      margin: 0;
      font-size: 100%;
      line-height: 20px;
      padding: 0; }
    .panel.panel-danger .panel-header .buttons {
      font-size: 12px; }
      .panel.panel-danger .panel-header .buttons a {
        display: inline-block;
        cursor: pointer;
        color: #bababa; }
      .panel.panel-danger .panel-header .buttons a:hover {
        text-decoration: none; }
  .panel.panel-danger .panel-body {
    padding: 15px 20px 20px; }

.panel-right {
  min-width: 300px;
  margin-left: 30px; }

.slider {
  height: 20px;
  position: relative;
  background: #cacaca;
  text-align: center; }
  .slider span {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .slider label {
    position: relative;
    display: block;
    z-index: 2;
    font-weight: bold;
    font-size: 80%;
    color: #fff; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2014, 2:28:39 PM
    Author     : Shepherd
*/
.btn {
  border-radius: 2px;
  box-shadow: none;
  font-weight: 500;
  text-shadow: none; }

.btn.btn-primary {
  background: #2a82c0;
  border-color: #1c5781;
  color: #fff; }
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #3190d2;
    border-color: #216696; }
  .btn.btn-primary:active {
    background: #216696;
    border-color: #18496c; }

/* 
    Created on : Feb 13, 2015, 5:52:11 PM
    Author     : Pras Abdilah
*/
.charts {
  text-align: center
  /*    .chart-item:nth-of-type(3n-1) .bar-chart span{
          background: #FF9100;
      }
      .chart-item:nth-of-type(3n) .bar-chart span{
          background: #FFAB40;
      }*/ }
  .charts .chart-item {
    /*border: 1px solid #222;*/
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px; }
    .charts .chart-item a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 20%;
      text-align: right;
      padding-right: 10px;
      color: #7B909E;
      font-weight: bold;
      font-size: 85%; }
    .charts .chart-item .bar-chart-container {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
          -ms-flex: 1 1;
              flex: 1 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .charts .chart-item .bar-chart-container .bar-chart {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        background: #EDF0F0; }
        .charts .chart-item .bar-chart-container .bar-chart span {
          display: inline-block;
          height: 40px;
          background: #2a82c0; }
        .charts .chart-item .bar-chart-container .bar-chart label {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 0;
          padding: 10px;
          font-weight: bold;
          font-size: 140%;
          color: #293541; }
  .charts .chart-item:last-of-type {
    /*border-bottom: 1px solid #222;*/ }
  .charts .chart-item:hover .bar-chart span {
    background: #469bd7;
    box-shadow: 1px 1px #2574ab; }
  .charts .chart-legend {
    display: inline-block;
    margin: 20px;
    border: 1px solid #dadada;
    font-size: 13px;
    padding: 10px; }
    .charts .chart-legend span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      line-height: 1; }
      .charts .chart-legend span i {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 3px; }
    .charts .chart-legend span.a {
      margin-bottom: 5px; }
      .charts .chart-legend span.a i {
        background: #2a82c0; }
    .charts .chart-legend span.b i {
      background: #EDF0F0; }

.popover {
  z-index: 99999999; }
  .popover .popover-title {
    display: none; }
  .popover table {
    width: 100%; }
  .popover td, .popover th {
    padding: 0;
    line-height: 1.5;
    font-size: 80%;
    font-weight: normal; }
  .popover tr th:last-child {
    text-align: right; }

.pie-chart {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  position: relative; }

.pie-chart:before {
  content: '';
  display: block;
  padding-top: 100%;
  background: #dfdfdf;
  border-radius: 50%; }

.pie-chart .percent {
  font-size: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  line-height: 80px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*flex-direction: column;*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 800
  /*color: #fff;*/ }

.pie-chart .percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 80%;
  display: inline-block;
  position: relative; }

.pie-chart canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0; }

/*
.pie-chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}
.pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}*/
.main-transition, aside, aside .logo img, aside .logo span, aside.maximized, nav, nav li, .date-container {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex .flex-start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1; }
  .flex .flex-end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1; }

.bg-success {
  background: #2ecc71; }

.bg-warning {
  background: #f39c12; }

.bg-danger {
  background: #c0392b; }

.padding {
  padding: 20px; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left  !important; }

html, body {
  position: relative;
  min-height: 100vh;
  background: url("../images/tumblr_mucvs3nuDt1sksh39o1_500.jpg") no-repeat;
  background-size: 100% 100%; }

body {
  font-size: 15px;
  font-family: 'Roboto', arial;
  font-weight: 400;
  color: #758698;
  padding: 0 !important;
  box-sizing: border-box; }

a:hover, a:visited {
  color: #3190d2; }
a:active {
  color: #2574ab; }
a:visited {
  color: #18496c; }

.table {
  background: #fff; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: calc(100vh - 80px); }

.date-container {
  display: none;
  width: 50px;
  background: #2574ab; }
  .date-container.active {
    display: block; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .content .toolbar {
    padding: 10px 20px;
    background: #F6F6F6;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #DADADA; }
    .content .toolbar .btn-link {
      font-weight: normal; }
      .content .toolbar .btn-link:hover {
        text-decoration: none;
        border: 1px solid #DADADA; }
  .content > header {
    height: 70px;
    border-bottom: 1px solid #ccc; }

.content > header {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .content > header > * {
    margin: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .content > header .search {
    width: 70px;
    color: #bdccd3;
    font-size: 200%;
    line-height: 70px;
    text-align: center;
    border-right: 1px solid #304047; }
  .content > header .title {
    font-size: 120%;
    font-weight: 300;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1; }
  .content > header .username {
    color: #2a82c0;
    text-transform: capitalize;
    font-weight: 500; }

.post-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  overflow-y: auto;
  background: #ECF0F1; }
  .post-container.padding {
    padding: 20px; }

.panel .summary {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10; }

/*CONTROL*/
.panel-up {
  display: none; }

header .dropdown-menu {
  left: auto;
  right: 0; }

@media screen and (min-width: 48em) {
  body {
    padding: 0 !important; } }
@media screen and (min-width: 62em) {
  body {
    padding: 0 !important; } }
@media screen and (min-width: 75em) {
  body {
    padding: 40px !important; } }
th a {
  color: #212121; }
  th a:hover {
    color: #424242; }

.grid-view {
  padding-top: 0; }

.realization-form tr label {
  white-space: nowrap; }

/*---------------------*/
/*NEW*/
.chart-item:nth-of-type(2n+1) {
  margin-left: 0; }

.chart-item {
  background: #fff;
  padding: 20px;
  margin-bottom: 15px; }

.chart-item-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.chart-item-right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 120px;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  margin-left: 30px; }

.chart-item-left h3 {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 12px 0;
  /*border-bottom: 1px solid #dedede;*/
  color: #259dab;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .chart-item-left h3 em {
    margin-top: 6px;
    font-size: 90%;
    text-transform: none;
    font-weight: normal;
    /*color: $color-text;*/
    font-style: normal;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.chart-item-left h4 {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 90%;
  font-weight: 300;
  line-height: 1;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.chart-item-left h2 {
  line-height: 1;
  margin-top: 3px;
  color: #212121;
  font-size: 140%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.chart-item-left .progress {
  height: 6px;
  background: #efefef;
  margin-bottom: 5px; }
.chart-item-left p {
  margin-bottom: 0;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.dashboard-a {
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 4px 10px #ccc; }
  .dashboard-a .span8 {
    /*        margin-left: 0;
            width: 68.37606837606838%;*/ }
  .dashboard-a .dashboard-a-left {
    padding: 20px; }
    .dashboard-a .dashboard-a-left h3 {
      text-transform: uppercase;
      font-size: 100%;
      font-weight: 800;
      line-height: 1;
      margin: 0 0 12px 0;
      /*border-bottom: 1px solid #dedede;*/
      color: #259dab;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .dashboard-a .dashboard-a-left h3 em {
        margin-top: 6px;
        font-size: 90%;
        text-transform: none;
        font-weight: normal;
        color: #212121;
        font-style: normal;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .dashboard-a .dashboard-a-left h4 {
      margin-top: 0px;
      margin-bottom: 0;
      font-size: 100%;
      font-weight: 300;
      line-height: 1;
      font-size: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .dashboard-a .dashboard-a-left h2 {
      line-height: 1;
      margin-top: 3px;
      color: #f39c12;
      font-size: 150%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .dashboard-a .dashboard-a-left .progress {
      height: 6px;
      background: #efefef;
      margin-bottom: 5px; }
    .dashboard-a .dashboard-a-left p {
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .dashboard-a .dashboard-a-right {
    position: relative;
    height: 178px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .dashboard-a .dashboard-a-right .top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      /*height: 50%;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
          -ms-flex: 1 1;
              flex: 1 1
      /*            span:nth-of-type(1){ background: #2ab0c0; }
                  span:nth-of-type(2){ background: #28a1c5; }
                  span:nth-of-type(3){ background: #2a82c0; }*/ }
      .dashboard-a .dashboard-a-right .top a:nth-of-type(1) {
        background: #2a82c0; }
      .dashboard-a .dashboard-a-right .top a:nth-of-type(2) {
        background: #2779b3; }
      .dashboard-a .dashboard-a-right .top a:nth-of-type(3) {
        background: #2571a7; }
    .dashboard-a .dashboard-a-right .bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      /*height: 50%;*/
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
          -ms-flex: 1 1;
              flex: 1 1; }
      .dashboard-a .dashboard-a-right .bottom a:nth-of-type(1) {
        background: #2d8acd; }
      .dashboard-a .dashboard-a-right .bottom a:nth-of-type(2) {
        background: #3692d3; }
      .dashboard-a .dashboard-a-right .bottom a:nth-of-type(3) {
        background: #2a82c0; }
    .dashboard-a .dashboard-a-right a {
      position: relative;
      background: green;
      display: inline-block;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
          -ms-flex: 1 1;
              flex: 1 1;
      color: #fff;
      padding: 10px; }
      .dashboard-a .dashboard-a-right a b {
        display: block;
        margin-bottom: 5px; }
      .dashboard-a .dashboard-a-right a i {
        display: block;
        text-align: center; }

/*# sourceMappingURL=style.css.map */