/* 
    Created on : Feb 13, 2015, 5:52:11 PM
    Author     : Pras Abdilah
*/
$color-a : $color-primary;
$color-b : #EDF0F0;

.charts{
    text-align:center;

    .chart-item{
        /*border: 1px solid #222;*/
        border-bottom: none;
        display: flex; 
        margin-bottom: 5px;

        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 20%;
            text-align: right;
            padding-right:  10px;
            color: #7B909E;
            font-weight: bold;
            font-size: 85%;
        }
        .bar-chart-container{
            flex: 1 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .bar-chart{

                display: flex;
                position: relative;
                background: $color-b;

                span{
                    display: inline-block;
                    height: 40px;
                    background: $color-a;
                }

                label{
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px;
                    font-weight: bold;
                    font-size: 140%;
                    color: #293541;
                }
            }
        }
    }

    .chart-item:last-of-type{
        /*border-bottom: 1px solid #222;*/
    }
    .chart-item:hover{


        .bar-chart span{
            background: lighten($color-a, 10%);
            box-shadow: 1px 1px darken($color-a, 5%);
        }
    }

    .chart-legend{
        display: inline-block;
        margin: 20px;
        border: 1px solid #dadada;
        font-size: 13px;
        padding: 10px;
        span{
            display: flex;
            line-height: 1;

            i{
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 3px;
            }
        }
        span.a{
            margin-bottom: 5px;
            i{
                background: $color-a;
            }
        }
        span.b{
            i{
                background: $color-b;
            }
        }
    }
    /*    .chart-item:nth-of-type(3n-1) .bar-chart span{
            background: #FF9100;
        }
        .chart-item:nth-of-type(3n) .bar-chart span{
            background: #FFAB40;
        }*/
}
.popover{
    .popover-title{
        display: none;
    }
    z-index: 99999999;
    table{
        width: 100%;
    }
    td,th{
        padding: 0;
        line-height: 1.5;
        font-size: 80%;
        font-weight: normal;
    }
    tr th:last-child{
        text-align: right;
    }
}


.pie-chart {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
    position: relative; 
}
.pie-chart:before {
    content: '';
    display: block;
    padding-top: 100%; 
    background: #dfdfdf;
    border-radius: 50%;
}
.pie-chart .percent {
    font-size: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    line-height: 80px;
    background: #fff;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    text-align: center;
    font-weight: 800;
    /*color: #fff;*/ 
}
.pie-chart .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 80%;
    display: inline-block;
    position: relative;
}
.pie-chart canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0; }

/*
.pie-chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}
.pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}*/